body {
  background: #2e2e2e !important;
}

.form-control {
  background: #2e2e2e !important;
  color: #495057;
  border: 1px solid #2b2b2b;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
}

.form-control:focus {
  -webkit-transition: .2s;
  transition: .2s;
  background: #333333 !important;
  color: #b1b1b1 !important;
  border-color: #2e2e2e !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-save {
  background: #2e2e2e !important;
  color: #b1b1b1 !important;
  float: right;
  padding: .60rem 2.14rem;
}

.block-title {
  color: #b1b1b1 !important;
  text-align: center;
  font-size: 30px;
}

.custom-card {
  border-top: 4px solid orange;
  background: #404040 !important;
  color: #b1b1b1 !important;
}

.custom-card p {
  color: #b1b1b1 !important;
}

.custom-card .card-body {
  padding-bottom: 5px;
}

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  background: #2e2e2e !important;
}

.navbar-nav {
  font-weight: 600;
}

