@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic);body {
  background: #F9F7F7;
}

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #EB862C), color-stop(90%, #E45D33));
  background: linear-gradient(to right, #EB862C 50%, #E45D33 90%);
}

.navbar-nav {
  font-weight: 600;
}

.upper-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: white;
  padding-top: 5px;
}

.first-block_wrapper {
  padding-top: 35vh;
}

.first-block {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  z-index: 2;
  background: url("/images/bg.jpg") no-repeat center fixed;
  background-size: cover;
}

.first-block_title {
  font-weight: bolder;
  font-size: 60px;
  color: white;
}

.first-block_text {
  color: white;
  font-size: 30px;
}

.full {
  min-height: 100vh;
}

.version-card {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.version-card p {
  text-align: center;
}

.version-card a:focus {
  text-decoration: none;
}

.version-card a:hover {
  background: rgba(255, 255, 255, 0.21) !important;
}

.version-card:hover {
  background: #262626;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

.version-card-1 {
  border-top: 3px solid #2196f3;
}

.version-card-1:hover {
  color: #2196f3;
}

.version-card-1:hover a {
  color: #2196f3 !important;
  text-decoration: none;
}

.version-card-2 {
  border-top: 3px solid #E45D33;
}

.version-card-2:hover {
  color: #E45D33;
}

.version-card-2:hover a {
  color: #E45D33 !important;
  text-decoration: none;
}

.version-card-3 {
  border-top: 3px solid #cddc39;
}

.version-card-3:hover {
  color: #cddc39;
}

.version-card-3:hover a {
  color: #cddc39 !important;
  text-decoration: none;
}

.version-card-4 {
  border-top: 3px solid #8bc34a;
}

.version-card-4:hover {
  color: #8bc34a;
}

.version-card-4:hover a {
  color: #8bc34a !important;
  text-decoration: none;
}

.help-block-wrapper {
  border-radius: 3px;
  margin-bottom: 3px;
  text-align: center;
  padding: 10px;
  background: #fb6358;
  color: white;
}

.auth-form {
  -webkit-box-shadow: 0 5px 10px 0 #6666;
          box-shadow: 0 5px 10px 0 #6666;
  border-radius: 4px;
  border-top: 3px solid #E45D33;
  background: white;
  padding: 10px 20px 10px 20px;
  max-width: 350px;
  margin: 130px auto;
}

.auth-button {
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #EB862C), color-stop(90%, #E45D33));
  background: linear-gradient(to right, #EB862C 50%, #E45D33 90%);
}

.auth-button:focus {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #EB862C), color-stop(90%, #E45D33));
  background: linear-gradient(to right, #EB862C 50%, #E45D33 90%);
}

.px-10 {
  padding: 100px 0px 100px 0px;
}

