$bg: #2e2e2e !important
$card-bg: #404040 !important
$text-color: #b1b1b1 !important

$bg-input: $bg
$bg-input-focus: #333333 !important
$input-border-color-focus: #2e2e2e !important

$input-color: #495057
$input-border-color: #2b2b2b



body
  background: $bg
.form-control
  background: $bg-input
  color: $input-color
  border: 1px solid $input-border-color
  transition: .2s
  font-weight: 700
  &:focus
    transition: .2s
    background: $bg-input-focus
    color: $text-color
    border-color: $input-border-color-focus
    box-shadow: none
.btn-save
  background: $bg
  color: $text-color
  float: right
  padding: .60rem 2.14rem
.block-title
  color: $text-color
  text-align: center
  font-size: 30px

.custom-card
  border-top: 4px solid orange
  background: $card-bg
  color: $text-color
  p
    color: $text-color
  .card-body
    padding-bottom: 5px
.navbar
  z-index: 2
  position: fixed
  width: 100%
  background: $bg
.navbar-nav
  font-weight: 600