@import 'variables'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic')

body
  background: $bg-color
.navbar
  z-index: 2
  position: fixed
  width: 100%
  background: linear-gradient(to right, #EB862C 50%, #E45D33 90% )
.navbar-nav
  font-weight: 600
.upper-title
  font-family: 'Open Sans', sans-serif
  font-size: 25px
  color: white
  padding-top: 5px
.first-block_wrapper
  padding-top: 35vh
.first-block
  font-family: 'Open Sans', sans-serif
  text-align: center
  position: relative
  z-index: 2
  background: url('/images/bg.jpg') no-repeat center fixed
  background-size: cover
.first-block_title
  font-weight: bolder
  font-size: 60px
  color: white
.first-block_text
  color: white
  font-size: 30px
.full
  min-height: 100vh
.version-card
  cursor: pointer
  transition: .5s
  p
    text-align: center
  a:focus
    text-decoration: none
  a:hover
    background: rgba(255, 255, 255, 0.21) !important
  &:hover
    background: lighten(black, 15)
    transition: .5s
    color: white
.version
  &-card-1
    border-top: $height-version-border solid #2196f3
    &:hover
      color: #2196f3
      a
        color: #2196f3 !important
        text-decoration: none
  &-card-2
    border-top: $height-version-border solid #E45D33
    &:hover
      color: #E45D33
      a
        color: #E45D33 !important
        text-decoration: none
  &-card-3
    border-top: $height-version-border solid #cddc39
    &:hover
      color: #cddc39
      a
        color: #cddc39 !important
        text-decoration: none
  &-card-4
    border-top: $height-version-border solid #8bc34a
    &:hover
      color: #8bc34a
      a
        color: #8bc34a !important
        text-decoration: none

.help-block-wrapper
  border-radius: 3px
  margin-bottom: 3px
  text-align: center
  padding: 10px
  background: #fb6358
  color: white
.auth-form
  box-shadow: 0 5px 10px 0 #6666
  border-radius: 4px
  border-top: 3px solid #E45D33
  background: white
  padding: 10px 20px 10px 20px
  max-width: 350px
  margin: 130px auto

.auth-button
  font-weight: 600
  background: linear-gradient(to right, #EB862C 50%, #E45D33 90%)
  &:focus
    background: linear-gradient(to right, #EB862C 50%, #E45D33 90%)
.px-10
  padding: 100px 0px 100px 0px
